@import "scss/variables.scss";

.sidebar__root {
  display: flex;
}

.sidebar__drawer {
  width: 220px;
  flex-shrink: 0;
  white-space: nowrap;
}

.sidebar__drawer--open {
  width: 0px;
  transition: width 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidebar__drawer--closed {
  transition: width 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-x: hidden;
  width: 50px;
  
  @media (min-width: 600px) {
    width: 73px;
  }
}

.sidebar__drawer-paper {
  margin-top: 65px;
}

.sidebar__drawer-paper--open {
  width: 200px;
  transition: width 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidebar__drawer-paper--closed {
  transition: width 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-x: hidden;
  width: 57px;
  
  @media (min-width: 600px) {
    width: 73px;
  }
}

.sidebar__link {
  text-decoration: none;
  color: inherit;
}